<div class="col s12 m6 l4">
    <div class="card story-post">
        <div class="card-content">
            <a href="/stories/{{_id}}" class="card-title custom-text">{{title}}</a>
            {{!-- <p>{{truncate content 140}}</p> --}}
            <p class="truncate" style="font-size: 1rem;">{{content}}</p>
        </div>
        <div class="card-action">
            <a href="#">{{author}}</a>
        </div>
    </div>
</div>